@charset "utf-8";
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes btnLoginEnterFade {
    0% {
        opacity: 0;
        transform: translateX(-65%);
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes titleLoginEnterFade {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes loginContainerEnter {
    0% {
        opacity: 0;
        transform: translateY(-200%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes loginImageEnter {
    0% {
        opacity: 0;
        transform: translateY(200%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.loginPage {
    @apply p-20 bg-white h-screen;

    #login, #register {
        @apply flex items-center justify-center h-full shadow-2xl shadow-black rounded-xl bg-white will-change-transform overflow-hidden;
        animation: 1.6s loginContainerEnter forwards;

        .formLoginContainer,
        .formRegisterContainer,
        .changeToRegisterToLogin {
            @apply w-1/2 flex items-center h-full;
        }

        .formLoginContainer, .formRegisterContainer {
            @apply flex flex-col justify-center;

            h1 {
                @apply text-5xl font-bold text-sky-500 pb-10;
                animation: 3s titleLoginEnterFade ease;
            }

            .formLogin {
                @apply w-3/5;

                span {
                    @apply flex flex-col mb-4 items-center;

                    label {
                        @apply flex items-center text-sky-500 font-bold self-start;
                        animation: 1s btnLoginEnterFade ease-in-out;

                        .formLoginIcon {
                            @apply mr-2;
                        }
                    }

                    input {
                        @apply border border-sky-500 rounded-md p-2 w-full;
                        animation: 1s btnLoginEnterFade ease-in-out;
                    }

                    button {
                        @apply w-full bg-sky-500 text-white border border-sky-500;
                    }

                    button.btnLoginSocialMedia {
                        @apply w-full text-sky-500 bg-white;
                    }
                }
            }

            button {
                @apply bg-slate-500 w-80 m-3 rounded-md flex items-center py-3 px-2 cursor-pointer font-bold border-2 transition;
                animation: 1s btnLoginEnterFade ease-in-out;

                p {
                    @apply ml-2;
                }
            }

            button.btnLoginGoogle {
                @apply bg-UARed text-white;
                animation: 1.2s btnLoginEnterFade ease-in-out;
            }

            button.btnLoginGoogle:hover {
                @apply text-UARed bg-white border-2 border-UARed transition;
            }

            button.btnLoginFacebook {
                @apply bg-facebookBlue text-white;
                animation: 1.4s btnLoginEnterFade ease-in-out;
            }

            button.btnLoginFacebook:hover {
                @apply text-facebookBlue bg-white border-facebookBlue transition;
            }

            button.btnLoginGithub {
                @apply bg-black text-white;
                animation: 1.6s btnLoginEnterFade ease-in-out;
            }

            button.btnLoginGithub:hover {
                @apply text-black bg-white border-black transition;
            }

            button.btnLoginPetnet {
                @apply bg-sky-500 text-white transition;
                animation: 2s btnLoginEnterFade ease-in-out;
            }

            button.btnLoginPetnet:hover {
                @apply bg-white border-sky-500 border-2 text-sky-500;
            }

            button.btnLoginGuest {
                @apply bg-yellow-400 text-black border transition border-yellow-400;
                animation: 2.3s btnLoginEnterFade ease-in-out;
            }

            button.btnLoginGuest:hover {
                @apply bg-black text-yellow-400 border-black transition;
            }
        }

        .changeToRegisterToLogin {
            @apply bg-gradient-to-b from-sky-500 to-sky-700 rounded-xl flex flex-col items-center justify-center text-white font-bold;

            figcaption {
                h2 {
                    @apply text-5xl text-center pb-4;
                    animation: 2.5s titleLoginEnterFade ease-in-out;
                }

                p {
                    @apply w-5/6 flex self-center m-auto;
                    animation: 2.5s titleLoginEnterFade ease-in-out;
                }

                button {
                    @apply bg-white text-sky-500 px-7 py-3 rounded-md cursor-pointer m-auto flex mt-3 transition;
                    animation: 2.5s titleLoginEnterFade ease-in-out;
                }

                button:hover {
                    @apply scale-110 transition;
                }
            }

            .loginPetImage {
                animation: 2s loginImageEnter ease-in-out;
            }
        }
    }
}


@media screen and (max-width: 1100px) {
    .loginPage {
        #login {
            .changeToRegisterToLogin {
                figcaption {
                    h2 {
                        @apply text-4xl
                    }

                    p {
                        @apply text-base;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 940px) {
    .loginPage {
        @apply p-8;

        #login {
            .formLoginContainer,.formRegisterContainer {
                h1 {
                    @apply text-4xl;
                }
            }
        }
    }
}

@media screen and (max-width: 780px) {
    .loginPage {
        #login {
            @apply flex-col-reverse;


            .changeToRegisterToLogin {
                @apply bg-gradient-to-b from-transparent to-transparent flex-row-reverse h-3/5 bg-gradient-to-b from-sky-500 to-sky-700 w-full;

                .formLoginContainer,
                .formRegisterContainer,
                .changeToRegisterToLogin {
                    @apply w-full flex items-center h-full;
                }

                figcaption {
                    p.registerText {
                        @apply hidden;
                    }

                    h2 {
                        @apply text-xl
                    }
                }

                .loginPetImage {
                    @apply w-2/5;
                }
            }


            .formLoginContainer, .formRegisterContainer {
                @apply justify-normal flex w-full;

                h1 {
                    @apply p-5;
                }

                .formLogin {
                    @apply block;
                }

                span {
                    @apply flex;

                    button {
                        @apply w-14 items-center justify-center rounded-full;

                        p {
                            @apply hidden;
                        }
                    }

                    button.btnLoginPetnet {
                        @apply hidden;
                    }
                }
            }
        }
    }
}

@media screen and (max-height: 700px) {
    .loginPetImage {
        width: 280px !important;
        height: 200px !important;
    }
}


@media screen and (max-width: 440px) {
    .loginPage {
        @apply p-0 h-auto;

        #login {
            box-shadow: 0 0 0;
            .formLoginContainer, .formRegisterContainer {
                h1 {
                    @apply text-3xl;
                }

                span {
                    button {
                        @apply w-11;
                    }
                }
            }

            .changeToRegisterToLogin {
                @apply flex-col-reverse rounded-none p-2;
            }
        }
    }

    .loginPetImage {
        width: 180px !important;
        height: 140px !important;
    }
}
