@charset "UTF-8";
@import "tailwindcss";

@theme {
    --color-petnetDarkblue: oklch(24.92% 0.167 264.16);
    --color-UARed: oklch(60.26% 0.184 27.53);
    --color-facebookBlue: oklch(44.57% 0.125 258.77);
    --color-petnetComplementar: oklch(74.66% 0.127 95.82);
    --color-inputBackgroundColor: oklch(96.12% 0.000 0);
    --color-inputBorderColor: oklch(75.40% 0.000 0);
    --color-transparentBGColor: #60606090;
}
