@charset "UTF-8";

@theme {
    --shadow-minimalistWithShadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 2px;
    --shadow-minimalist: #00000005 0px 1px 3px 0px,
        #1b1f2326 0px 0px 0px .6px;
    --shadow-minimalistWithShadowAlt: rgba(0, 0, 0, 0.16) 0px 10px 22px 0px,
        rgba(0, 0, 0, 0.02) 0px 0px 0px 2px;
}
