@charset "utf-8";

@import "tailwindcss";

@font-face {
    font-family: 'Roboto';
    src: local('./assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: local('./assets/fonts/Roboto-Bold.ttf');
    font-style: bold;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
    max-width: 1920px;
    min-width: 320px;
    margin: auto;
    background-color: #fff;
    background-image: url('/assets/background.png');
    background-repeat: repeat;
}

input:focus {
    outline: none;
}

@media screen and (max-width: 880px) {
    body {
        background-size: contain;
    }
}
