@charset "UTF-8";
@import "tailwindcss";
@import "../../styles/customs.css";

@keyframes imageDetailsMobileAnimation {
    0% {
        transform: translateY(1000px);
    }

    100% {
        transform: translateY(0px);
    }
}

.galleryContainer {
    @apply flex pt-30 justify-center overflow-x-hidden;

    .filtersContainer {
        @apply flex flex-col rounded-lg px-14 flex-1/8 mt-1.5;

        span {
            @apply shadow-gray-300 shadow-minimalistWithShadowAlt p-4 rounded-lg bg-white;
        }

        h3 {
            @apply text-2xl font-bold;
        }

        h3.menuText {
            @apply mt-6;
        }

        ul {
            li {
                @apply ml-4 text-lg text-gray-600 cursor-pointer flex items-center my-2;

                .filterIcon {
                    @apply mr-1.5;
                }
            }

            li:nth-child(1) {
                @apply mt-2.5;
            }

            li:hover {
                @apply text-gray-900 font-bold;
            }
        }
    }

    .filtersMobileContainer {
        @apply hidden;
    }

    .contentContainer {
        @apply flex-2/3 pr-28 mb-8.5;

        h1 {
            @apply text-4xl font-bold;
        }

        .uploadContainer {
            .uploadDropzone {
                .uploadImages {
                    @apply hidden;
                }

                label {
                    @apply border-2
                    border-dotted
                    bg-white
                    w-full
                    mt-6
                    flex
                    flex-col
                    items-center
                    text-center
                    justify-center
                    p-6
                    rounded-lg
                    cursor-pointer;

                    .dropzoneIcon {
                        @apply text-2xl;
                    }
                }
            }
        }

        .uploadedImagesInMem {
            @apply border-2
            border-dotted
            p-4
            rounded-xl
            my-2
            bg-white
            flex
            items-center
            flex-col;

            span {
                @apply flex flex-wrap;

                img {
                    @apply size-40;
                }
            }

            button {
                @apply bg-sky-400
                text-white
                font-black
                flex
                items-center
                justify-center
                mt-4.5
                px-22
                py-3
                text-xl
                rounded-md
                border-2
                border-black
                cursor-pointer
                transition-all;

                .btnIcon {
                    @apply mr-1.5;
                }
            }

            button:hover {
                @apply bg-sky-500 transition-all;
            }
        }

        .orderContainer {
            @apply flex justify-between;

            .orderTools {
                @apply flex
                w-7/8
                bg-white
                justify-between
                mt-6
                py-6
                px-4
                border-2
                border-sky-500
                rounded-lg;

                h3 {
                    @apply text-2xl font-semibold flex items-center;

                    .iconOrderFilter {
                        @apply ml-1;
                    }
                }

                span {
                    ul {
                        @apply flex;

                        li {
                            @apply mx-3 text-xl cursor-pointer flex items-center;

                            .orderToolsIcon {
                                @apply mr-1.5;
                            }

                            &:hover {
                                @apply font-semibold;
                            }
                        }

                        li.selected {
                            @apply text-sky-500 font-black;
                        }
                    }
                }

                select {
                    @apply border-2 border-sky-500 text-xl cursor-pointer rounded-lg;
                }
            }

            .orderSwitchViewMobile {
                @apply border-2
                mt-6
                py-6
                px-4
                rounded-lg
                ml-2
                border-sky-500
                items-center
                justify-between
                bg-white
                hidden;
            }

            .orderSwitchView {
                @apply border-2
                mt-6
                py-6
                px-4
                rounded-lg
                ml-2
                flex
                border-sky-500
                items-center
                justify-between
                bg-white;

                .icon {
                    @apply size-6;
                }

                button {
                    @apply border-2
                    w-15
                    h-8
                    mx-6
                    bg-sky-400
                    rounded-full
                    flex
                    items-center
                    cursor-pointer;

                    div {
                        @apply bg-white w-6 border-2 rounded-full h-6 mx-0.5;
                    }
                }

                button.gridSelected {
                    @apply justify-start;
                }

                button.listSelected {
                    @apply justify-end;
                }
            }
        }

        .imageGalleryContainer {
            @apply w-full flex flex-wrap gap-10 items-center;

            figure {
                @apply bg-white
                shadow-gray-300
                rounded-lg
                text-center
                flex
                flex-col
                items-center
                w-fit
                p-4
                mt-6
                cursor-pointer
                shadow-minimalistWithShadowAlt
                transition-all;

                img {
                    @apply w-60;
                }

                figcaption {
                    @apply flex
                    justify-center
                    w-full
                    pt-3
                    text-lg
                    border-t-gray-300
                    border-t-2
                    flex-col;

                    div {
                        @apply flex justify-between;

                        h4 {
                            @apply font-bold text-sky-600;
                        }
                    }

                    .btnContainer {
                        @apply mt-3 flex;
                        button {
                            @apply border-2
                            py-2
                            px-3.5
                            mx-1.5
                            rounded-md
                            flex
                            items-center
                            cursor-pointer;

                            .btnIcon {
                                @apply mr-1.5;
                            }
                        }

                        button.btnArchive {
                            @apply bg-yellow-700 text-white;
                        }

                        button.btnDelete {
                            @apply bg-red-800 text-white;
                        }
                    }
                }
            }

            figure:hover {
                @apply shadow-gray-400 scale-105 transition-all;
            }
        }

        .imageGalleryContainerList {
            table {
                @apply mt-5
                shadow-gray-300
                shadow-minimalistWithShadow
                rounded-md
                w-full
                bg-white;
                thead {
                    @apply border-b-2
                    border-gray-300;
                    tr {
                        th {
                            @apply text-sky-500
                            font-black
                            p-3
                            text-left
                            border-r-1
                            border-gray-300;
                        }

                        th:last-child {
                            @apply border-0;
                        }
                    }
                }

                tbody {
                    tr {
                        @apply border-b-1 border-gray-400;
                        td {
                            @apply p-3 text-2xl;
                        }

                        td.tableFigureData {
                            @apply flex items-center;
                            img {
                                @apply size-18;
                            }

                            h3 {
                                @apply ml-3;
                            }
                        }

                        td.tableActionData {
                            @apply w-1/12;
                            button {
                                @apply ml-3 text-2xl cursor-pointer transition-all;
                            }

                            button:nth-child(1):hover {
                                @apply text-yellow-400 transition-all;
                            }
                            button:nth-child(2):hover {
                                @apply text-amber-600 transition-all;
                            }
                            button:nth-child(3):hover {
                                @apply text-red-800 transition-all;
                            }
                        }
                    }
                }
            }
        }

        .notFoundDog {
            @apply items-center justify-center w-full flex flex-col bg-white;
            img {
                @apply w-96;
            }

            figcaption {
                @apply text-center text-2xl;
            }
        }
    }

    .imageDetailsMobile {
        @apply absolute
        w-full
        h-full
        z-40
        top-0
        flex
        justify-end
        flex-col;
        background-color: #60606090;

        div {
            @apply bg-white
            fixed
            bottom-0
            w-full
            rounded-t-4xl
            p-5
            shadow-minimalist
            shadow-gray-300
            text-lg;

            animation: imageDetailsMobileAnimation 0.6s;

            h3 {
                @apply font-black
                text-sky-400
                text-2xl
                border-b-1
                border-gray-400
                pb-3
                mb-6;
            }

            ul {
                li.btnFav,
                li.btnDelete,
                li.btnArchive {
                    @apply bg-yellow-400
                    font-bold
                    text-xl
                    shadow-minimalist
                    shadow-gray-300
                    rounded-md
                    py-2
                    text-center
                    cursor-pointer
                    my-3
                    flex items-center justify-center;
                }

                li.btnDelete {
                    @apply bg-red-800 text-white;
                }
                li.btnArchive {
                    @apply bg-amber-700;
                }

                li.infoText {
                    @apply text-2xl my-1.5;
                }
            }
        }
    }
}

@media screen and (max-width: 1700px) {
    .galleryContainer {
        .contentContainer {
            .imageGalleryContainer {
                @apply grid-cols-3;
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    .galleryContainer {
        .filtersContainer {
            @apply flex-1/3;
        }
        .contentContainer {
            @apply pr-12;
            .imageGalleryContainer {
                @apply grid-cols-2 justify-center;
            }
        }
    }
}

@media screen and (max-width: 1040px) {
    .galleryContainer {
        .filtersContainer {
            @apply fixed
            w-screen
            h-screen
            bg-white
            flex
            items-center
            justify-center
            top-0
            z-30;

            span {
                @apply bg-transparent shadow-none;
            }

            h3 {
                @apply text-3xl;
            }

            ul {
                li {
                    @apply text-xl;
                }
            }
        }

        .filtersFloatMobileButton {
            @apply flex items-center
            justify-center
            fixed
            bg-white
            shadow-xl
            shadow-gray-400
            text-5xl
            p-4
            border-2
            border-sky-500
            rounded-full
            cursor-pointer
            bottom-7
            right-7
            z-40;
        }

        .contentContainer {
            @apply ml-10;
            .imageGalleryContainer {
                figure {
                    img {
                        @apply w-70;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 740px) {
    .galleryContainer {
        .contentContainer {
            .imageGalleryContainer {
                figure {
                    img {
                        @apply w-60;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 660px) {
    .galleryContainer {
        .contentContainer {
            .imageGalleryContainer {
                @apply flex items-center flex-col;
            }

            .orderContainer {
                .orderTools {
                    h3 {
                        @apply text-lg;
                    }

                    select {
                        @apply text-lg py-2 px-1;
                    }
                }

                .orderSwitchView {
                    @apply hidden;
                }

                .orderSwitchViewMobile {
                    @apply flex;
                }
            }
        }
    }
}

@media screen and (max-width: 470px) {
    .galleryContainer {
        .contentContainer {
            @apply m-0 p-4 flex-col items-center justify-center;

            .orderTools {
                @apply flex-col;
                select {
                    @apply text-lg mt-3 py-4 px-4;
                }
            }
        }
    }
}
