@charset "utf-8";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Roboto';
    src: local('./fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: local('./fonts/Roboto-Bold.ttf');
    font-style: bold;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    max-width: 1920px;
    margin: auto;
    background-color: #fff;
}
